<section>
  <div class="container">
    <h3 class="text-primary mt-5 mb-5 fw-bold">View Brand</h3>

    <head></head>
    <div class="text-end m-5">
      <a class="btn btn-success" href="/admin/addBrand">Add brand</a>

    </div>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">SI NO</th>
          <th scope="col">Brand</th>
          <th scope="col">Options</th>

        </tr>
      </thead>
      <tbody>

        {{#each brand}}
        <tr>
          <th scope="row">{{plusOne @index}}</th>
          <td>{{this.brand}}</td>
          {{!-- <td><img style="height:50px ;width:50px ;" src="/productImages/{{this._id}}.jpg" alt=""></td> --}}
          <td><a class="btn btn-primary" href="/admin/editBrand/{{this._id}}">Edit</a>
            <a href="/admin/deleteBrand/{{this._id}}" class="btn btn-outline-danger"
              onclick="return confirm('Are you sure you want to delete?')">Delete</a>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</section>