<main class="main" id="main">
<link rel="stylesheet" href="/stylesheets/dataTable.css">
  <section>
    <div class="container">
      <h3 class="text-primary mt-5 mb-5 fw-bold">View Users</h3>
      <table class="table mt-3 table-hover  rounded-2" id="userTable">
        <thead>
          <tr>
            <th scope="col">SI NO</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Option</th>
          </tr>
        </thead>
        <tbody>

          {{#each userDetails}}
          <tr>
            <th scope="row">{{plusOne @index}}</th>
            <td>{{this.Rname}}</td>
            <td>{{this.Remail}}</td>
            {{!-- <td><img style="height:50px ;width:50px ;" src="/productImages/{{this._id}}.jpg" alt=""></td> --}}

            {{#if this.status}}
            <td><a href="/admin/userBlock/{{this._id}}" class="btn btn-outline-danger"
                onclick="return confirm('Are you sure you want to block {{this.Rname}}?')">Block</a></td>

            {{else}}
            <td><a href="/admin/userUnblock/{{this._id}}" class="btn btn-outline-success"
                onclick="return confirm('Are you sure you want to Unblock {{this.Rname}}?')">Unblock</a></td>
            {{/if}}
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </section>
</main>
   <script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.1.min.js"></script>
   <script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/jquery.dataTables.min.js"></script>
  <script>
    $(document).ready( function () {
    $('#userTable').DataTable();
} );
</script>