<main class="main" id="main">
  <h4>View Orders</h4>
  <hr>
  <table class="table table-striped mt-5">
    <thead>
      <tr>
        <th scope="col">Si.No</th>
        <th scope="col">Customer Name</th>
        <th scope="col">Date</th>
        <th scope="col">Order Id</th>
        <th scope="col">Amount</th>
        <th scope="col">Payment</th>
        <th scope="col">Products</th>
      </tr>
    </thead>
    <tbody>

      {{#each orders}}
      <tr>
        <th scope="row">{{plusOne @index}}</th>
        <td>{{this.name}}</td>
        <td>{{this.date}}</td>
        <td>{{this._id}}</td>
        <td>₹ {{this.totalAmount}}</td>
        <td>{{this.paymentMethod}}</td>
        <td><h1 class="bi bi-arrow-right-square-fill" onclick="viewOrderProduct('{{this._id}}')"></h1></td>
      {{/each}}
      </tr>
    </tbody>
  </table>
</main>
<script>
    function viewOrderProduct(orderId){
        location.href = '/admin/viewOrderProducts/'+ orderId;
    }
</script>