<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>KAIROS</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Molla - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/userAssets/assets/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/userAssets/assets/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/userAssets/assets/images/icons/favicon-16x16.png">
    <link rel="manifest" href="/userAssets/assets/images/icons/site.html">
    <link rel="mask-icon" href="/userAssets/assets/images/icons/safari-pinned-tab.svg" color="#666666">
    <link rel="shortcut icon" href="/userAssets/assets/images/icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="assets/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="/userAssets/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/userAssets/assets/css/plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="/userAssets/assets/css/plugins/magnific-popup/magnific-popup.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="/userAssets/assets/css/style.css">
    <link rel="stylesheet" href="/userAssets/assets/css/plugins/nouislider/nouislider.css">
</head>

<body>
    <div class="page-wrapper">
        <header class="header header-intro-clearance header-3">
            <div class="header-top">
                <div class="container">
                    {{!-- <div class="header-left">
                        <a href="tel:#"><i class="icon-phone"></i>Call: +0123 456 789</a>
                    </div><!-- End .header-left --> --}}
                </div><!-- End .container -->
            </div><!-- End .header-top -->

            <div class="header-middle">
                <div class="container ">
                    <div class="header-left">
                        <button class="mobile-menu-toggler">
                            <span class="sr-only">Toggle mobile menu</span>
                            <i class="icon-bars"></i>
                        </button>

                        <h3 class="text-light">KAIROS</h>
                    </div><!-- End .header-left -->
                    <div class="header-center">
                        <div class="header-search header-search-extended header-search-visible d-none d-lg-block">
                            <a href="#" class="search-toggle" role="button"><i class="icon-search"></i></a>
                            <form method="post" action="/searchProduct">
                                <div class="header-search-wrapper search-wrapper-wide">
                                    <label for="q" class="sr-only">Search</label>
                                    <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
                                    <input type="search" class="form-control" name="search" id="search"
                                        placeholder="Search product ..." required>
                                </div><!-- End .header-search-wrapper -->
                            </form>
                        </div><!-- End .header-search -->
                    </div>

                    <div class="header-right">
                        <div class="wishlist">
                            <a href="/wishlist" title="Wishlist">
                                <div class="icon">
                                    <i class="icon-heart-o"></i>
                                    <span class="wishlist-count badge">3</span>
                                </div>
                                <p>Wishlist</p>
                            </a>
                        </div><!-- End .compare-dropdown -->
                        <div class="dropdown cart-dropdown">
                            <a onclick="cartClick()" class="dropdown-toggle" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false" data-display="static">
                                <div class="icon">
                                    <i class="icon-shopping-cart"></i>
                                    <span class="cart-count">{{cartCount}}</span>
                                </div>
                                <p>Cart</p>
                            </a>
                        </div><!-- End .cart-dropdown -->
                        <div class="dropdown cart-dropdown">
                            <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false" data-display="static">
                                <div class="icon">
                                    <i class="icon-user"></i>
                                    <span class="cart-count"></span>
                                </div>

                                {{#if userDetails}}
                                <p>{{userDetails.user.Rname}}</p>
                                {{else}}
                                <p>Account</p>
                                {{/if}}
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <div class="dropdown-cart-action">
                                    {{#if userDetails}}
                                    <a href="/logout" class="btn btn-primary">Logout</a>
                                    <a href="/profile" class="btn btn-outline-primary-2"><span>Profile</span><i
                                            class="icon-long-arrow-right"></i></a>
                                    {{else}}
                                    <div class="mx-auto ">
                                        <a href="/login" class="btn btn-primary">LogIn</a>
                                    </div>
                                    {{/if}}
                                </div><!-- End .dropdown-cart-total -->
                            </div><!-- End .dropdown-menu -->
                        </div><!-- End .cart-dropdown -->
                    </div><!-- End .header-right -->
                </div><!-- End .container -->
            </div><!-- End .header-middle -->

            <div class="header-bottom sticky-header">
                <div class="container">
                    <div class="header-left">
                        <p class="text-dark">The precious Moment</p>
                    </div><!-- End .header-left -->

                    <div class="header-center">
                        <nav class="main-nav">
                            <ul class="menu sf-arrows">
                                <li class="megamenu-container ">
                                    <a href="/" class="sf-with-ul">Home</a>
                                </li>
                                {{!-- <li>
                                    <a href="category.html" class="sf-with-ul">Shop</a>
                                </li> --}}
                                <li class="active">
                                    <a href="/product" class="sf-with-ul">Product</a>

                                </li>
                                {{#if userDetails}}
                                <li>
                                    <a href="/cart" class="sf-with-ul">Cart</a>

                                </li>
                                <li>
                                    <a href="/profile" class="sf-with-ul">Profile</a>

                                </li>
                                {{/if}}
                                {{!-- <li>
                                    <a href="elements-list.html" class="sf-with-ul">Elements</a>
                                </li> --}}
                            </ul><!-- End .menu -->
                        </nav><!-- End .main-nav -->
                    </div><!-- End .header-center -->

                    <div class="header-right">
                        {{!-- <i class="la la-lightbulb-o"></i>
                        <p>Clearance<span class="highlight">&nbsp;Up to 30% Off</span></p> --}}
                        {{#if userDetails}}
                        <p class="text-dark text-end">Welcome Back <span class="text-primary">
                                {{userDetails.user.Rname}}</span></p>
                        {{/if}}
                    </div>

                </div><!-- End .container -->
            </div><!-- End .header-bottom -->
        </header>
    </div>
</body>


<script>
    function proSearch(){
        alert("hai")
    }
</script>