<!DOCTYPE html>
<html lang="en">
<!-- molla/index-17.html  22 Nov 2019 10:00:25 GMT -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>KAIROS</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="KAIROS - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/userAssets/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/userAssets/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/userAssets/images/icons/favicon-16x16.png">
    <link rel="manifest" href="/userAssets/images/icons/site.html">
    <link rel="mask-icon" href="/userAssets/images/icons/safari-pinned-tab.svg" color="#666666">
    <link rel="shortcut icon" href="/userAssets/images/icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="KAIROS">
    <meta name="application-name" content="KAIROS">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="/userAssets/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="/userAssets/vendor/line-awesome/line-awesome/line-awesome/css/line-awesome.min.css">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="/userAssets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/userAssets/css/plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="/userAssets/css/plugins/magnific-popup/magnific-popup.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="/userAssets/css/style.css">
    <link rel="stylesheet" href="/userAssets/css/skins/skin-demo-17.css">
    <link rel="stylesheet" href="/userAssets/css/demos/demo-17.css">
    {{!-- Google Fonts --}}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kaisei+Decol&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
</head>

<body>
    <div class="page-wrapper">
        <main class="main">
            <div class="intro-slider-container">
                <div class="owl-carousel owl-simple owl-light owl-nav-inside" data-toggle="owl"
                    data-owl-options='{"nav": false}'>
                    {{#each banner}}
                    <div class="intro-slide" style="background-image: url(/pictures/bannerImages/{{this.image}});">
                        <div class="container intro-content">
                            <h3 class="intro-subtitle"></h3><!-- End .h3 intro-subtitle -->
                            <h1 class="intro-title"><br></h1><!-- End .intro-title -->

                            {{!-- <a href="category.html" class="btn btn-primary">
                                <span>Shop Now</span>
                                <i class="icon-long-arrow-right"></i>
                            </a> --}}
                        </div><!-- End .container intro-content -->
                    </div><!-- End .intro-slide -->
                    {{/each}}
                </div><!-- End .owl-carousel owl-simple -->

                <span class="slider-loader text-white"></span><!-- End .slider-loader -->
            </div><!-- End .intro-slider-container -->

            <div class="brands-border owl-carousel owl-simple " data-toggle="owl" data-owl-options='{
                    "nav": false, 
                    "dots": false,
                    "margin": 0,
                    "loop": false,
                    "responsive": {
                        "0": {
                            "items":2
                        },
                        "420": {
                            "items":3
                        },
                        "600": {
                            "items":4
                        },
                        "900": {
                            "items":5
                        },
                        "1024": {
                            "items":6
                        },
                        "1360": {
                            "items":7
                        }
                    }
                }'>
                {{#each brands}}
                <a href="/brandProducts/{{this._id}}" class="brand">
                    <img src="/pictures/brandImages/{{this.image}}" alt="Brand Name" style="height: 70px;">
                </a>
                {{/each}}
            </div><!-- End .owl-carousel -->



            <div class="mt-5 text-center p-5" style="background:rgb(229, 246, 250);">
                <h3>CATEGORY</h4>
                    <p>Categories that we provide for you</p>
            </div>

            <div class="container-fluid mt-5">
                <div class="tab-content tab-content-carousel">
                    <div class="tab-pane p-0 fade show active" id="products-featured-tab" role="tabpanel"
                        aria-labelledby="products-featured-link">
                        <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow d-flex justify-content-center"
                            data-toggle="owl" data-owl-options='{
                                "nav": false, 
                                "dots": true,
                                "margin": 20,
                                "loop": false,
                                "responsive": {
                                    "0": {
                                        "items":2
                                    },
                                    "480": {
                                        "items":2
                                    },
                                    "768": {
                                        "items":3
                                    },
                                    "992": {
                                        "items":4
                                    },
                                    "1200": {
                                        "items":5
                                    },
                                    "1600": {
                                        "items":6,
                                        "nav": true
                                    }
                                }
                            }'>
                            {{#each category}}
                            <div class="product product-11 text-center">
                                <figure class="product-media">
                                    <a href="/categoryProducts/{{this._id}}">
                                        <img src="/pictures/categoryImages/{{this.image}}" alt="Product image"
                                            class="product-image" style="height: 300px; background: #ffff;">
                                    </a>

                                </figure><!-- End .product-media -->

                                <div class="product-body">
                                    <h5 class=" text-primary"><a href="product.html">{{this.category}}</a></h3>
                                        <!-- End .product-title -->

                                </div><!-- End .product-body -->
                                <!-- End .product-action -->
                            </div><!-- End .product -->
                            {{/each}}
                        </div><!-- End .owl-carousel -->
                    </div><!-- .End .tab-pane -->
                </div><!-- End .tab-content -->
            </div><!-- End .container-fluid -->
    </div>

    <div class="intro-section pt-3" style="background:lightblue ;">
        {{!-- {{#each banner}}
        <img src="/bannerImages/{{this._id}}.jpg" alt="" srcset="">
        {{/each}} --}}
        <div class="">
            <div class="icon-boxes-container">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-lg-3">
                            <div class="icon-box icon-box-side">
                                <span class="icon-box-icon">
                                    <i class="icon-rocket"></i>
                                </span>
                                <div class="icon-box-content">
                                    <h3 class="icon-box-title">Free Shipping</h3><!-- End .icon-box-title -->
                                    <p>Orders $50 or more</p>
                                </div><!-- End .icon-box-content -->
                            </div><!-- End .icon-box -->
                        </div><!-- End .col-sm-6 col-lg-3 -->
                        <div class="col-sm-6 col-lg-3">
                            <div class="icon-box icon-box-side">
                                <span class="icon-box-icon">
                                    <i class="icon-rotate-left"></i>
                                </span>
                                <div class="icon-box-content">
                                    <h3 class="icon-box-title">Free Returns</h3><!-- End .icon-box-title -->
                                    <p>Within 30 days</p>
                                </div><!-- End .icon-box-content -->
                            </div><!-- End .icon-box -->
                        </div><!-- End .col-sm-6 col-lg-3 -->
                        <div class="col-sm-6 col-lg-3">
                            <div class="icon-box icon-box-side">
                                <span class="icon-box-icon">
                                    <i class="icon-info-circle"></i>
                                </span>

                                <div class="icon-box-content">
                                    <h3 class="icon-box-title">Get 20% Off 1 Item</h3>
                                    <!-- End .icon-box-title -->
                                    <p>When you sign up</p>
                                </div><!-- End .icon-box-content -->
                            </div><!-- End .icon-box -->
                        </div><!-- End .col-sm-6 col-lg-3 -->

                        <div class="col-sm-6 col-lg-3">
                            <div class="icon-box icon-box-side">
                                <span class="icon-box-icon">
                                    <i class="icon-life-ring"></i>
                                </span>

                                <div class="icon-box-content">
                                    <h3 class="icon-box-title">We Support</h3><!-- End .icon-box-title -->
                                    <p>24/7 amazing services</p>
                                </div><!-- End .icon-box-content -->
                            </div><!-- End .icon-box -->
                        </div><!-- End .col-sm-6 col-lg-3 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .icon-boxes-container -->
        </div>
    </div><!-- End .bg-lighter -->
    <div class="container-fluid d-flex justify-content-center">
        <img src="/pictures/images/NewArrivals.gif" alt="">
    </div>


    <div class="container">
        <div class="tab-content">
            <div class="">
                <div class="container">
                    <div class="row">

                    </div>
                </div><!-- End .row -->
                <hr class="mt-0 mb-0">
            </div><!-- End .container -->
        </div><!-- End .bg-gray -->

        <div class="tab-pane fade show active" id="tab-new" role="tabpanel" aria-labelledby="tab-new-link">
            <div class="row justify-content-center">
                {{#each products}}
                <div class="col-6 col-md-4 col-lg-3">
                    <div class="product product-4">

                        <figure class="product-media">
                            {{#if this.offerPercentage}}
                            <span class="product-label label-circle label-sale">{{this.offerPercentage}}% Off</span>
                            {{/if}}
                            <a href="/product/{{this._id}}">

                                <img src="/pictures/productImages/{{this.image.[0]}}" alt="Product image"
                                    class="product-image">
                                <img src="/pictures/productImages/{{this.image.[2]}}" alt="Product image"
                                    class="product-image-hover">
                            </a>

                            <div class="product-action-vertical">
                                <a onclick="addToWishlist('{{this._id}}')"
                                    class="btn-product-icon btn-wishlist btn-expandable"><span>add to
                                        wishlist </span></a>
                            </div><!-- End .product-action -->

                            <div class="product-action">
                                {{#if (stockOut this.stock)}}
                                <button onclick="" class="btn-product bg-danger text-light">Stock Out</button>
                                {{else}}
                                <button onclick="addToCart('{{this._id}}')" class="btn-product btn-cart">Add to
                                    cart</button>
                                {{/if}}
                                {{!-- <button onclick="addToCart('{{this._id}}')" class="btn-product btn-cart"
                                    id="{{this._id}} ">Add to cart</button> --}}
                            </div><!-- End .product-action -->
                        </figure><!-- End .product-media -->

                        <div class="product-body">
                            <div class="product-cat">
                                <a href="#">{{this.categoryDetails.category}}</a>
                            </div><!-- End .product-cat -->
                            <h3 class="product-title"><a href="product.html">{{this.title}}</a></h3>
                            <!-- End .product-title -->

                            <div class="product-price">
                                {{#if this.offerPercentage}}
                                <div class="product-price">
                                    <span class="new-price">Now <b>₹{{this.price}}</b></span>
                                    <span class="old-price">Was <s>₹{{this.oldPrice}}</s></span>
                                </div><!-- End .product-price -->
                                <p>{{this.offerPercentage}}% Off</p>
                                {{else}}
                                <span>₹ &nbsp;<b class="text-danger">{{this.price}}</b></span>
                                {{/if}}
                            </div><!-- End .product-price -->

                        </div><!-- End .product-body -->
                    </div><!-- End .product -->

                </div><!-- End .col-sm-6 col-md-4 col-lg-3 -->
                {{/each}}

            </div>
        </div>
        <div class="tab-pane fade" id="tab-featured" role="tabpanel" aria-labelledby="tab-featured-link">
            <div class="row justify-content-center">
                {{#each products.productcat}}
                <div class="col-6 col-md-4 col-lg-3">
                    <div class="product product-4">

                        <figure class="product-media">
                            <a href="/product/{{this._id}}">

                                <img src="/product-images/{{this._id}}.jpg" alt="Product image" class="product-image">
                                {{!-- <img src="/userAssets/images/demos/demo-17/products/product-1-2.jpg"
                                    alt="Product image" class="product-image-hover"> --}}
                            </a>

                            <div class="product-action-vertical">
                                <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to
                                        wishlist</span></a>
                                <a href="popup/quickView.html" class="btn-product-icon btn-quickview"
                                    title="Quick view"><span>Quick view</span></a>
                                <a href="#" class="btn-product-icon btn-compare"
                                    title="Compare"><span>Compare</span></a>
                            </div><!-- End .product-action -->

                            <div class="product-action">
                                <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                            </div><!-- End .product-action -->
                        </figure><!-- End .product-media -->

                        <div class="product-body">
                            <div class="product-cat">
                                <a href="#">{{this.product_categorie}}</a>
                            </div><!-- End .product-cat -->
                            <h3 class="product-title"><a href="product.html">{{this.product_name}}</a></h3>
                            <!-- End .product-title -->
                            <div class="product-price">
                                $60.00
                            </div><!-- End .product-price -->
                            <div class="product-nav product-nav-dots">
                                <a href="#" class="active" style="background: #e5dcb1;"><span class="sr-only">Color
                                        name</span></a>
                                <a href="#" style="background: #bacbd8;"><span class="sr-only">Color name</span></a>
                            </div><!-- End .product-nav -->
                        </div><!-- End .product-body -->
                    </div><!-- End .product -->

                </div><!-- End .col-sm-6 col-md-4 col-lg-3 -->
                {{/each}}

            </div><!-- End .row -->
        </div><!-- .End .tab-pane -->

        <div class="tab-pane fade" id="tab-best" role="tabpanel" aria-labelledby="tab-best-link">
            <div class="row justify-content-center">
                {{#each products.products}}
                <div class="col-6 col-md-4 col-lg-3">
                    <div class="product product-4">

                        <figure class="product-media">
                            <a href="/product/{{this._id}}">

                                <img src="/product-images/{{this._id}}.jpg" alt="Product image" class="product-image">
                                {{!-- <img src="/userAssets/images/demos/demo-17/products/product-1-2.jpg"
                                    alt="Product image" class="product-image-hover"> --}}
                            </a>

                            <div class="product-action-vertical">
                                <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to
                                        wishlist</span></a>
                                <a href="popup/quickView.html" class="btn-product-icon btn-quickview"
                                    title="Quick view"><span>Quick view</span></a>
                                <a href="#" class="btn-product-icon btn-compare"
                                    title="Compare"><span>Compare</span></a>
                            </div><!-- End .product-action -->

                            <div class="product-action">
                                <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                            </div><!-- End .product-action -->
                        </figure><!-- End .product-media -->

                        <div class="product-body">
                            <div class="product-cat">
                                <a href="#">{{this.product_categorie}}</a>
                            </div><!-- End .product-cat -->
                            <h3 class="product-title"><a href="product.html">{{this.product_name}}</a></h3>
                            <!-- End .product-title -->
                            <div class="product-price">
                                $60.00
                            </div><!-- End .product-price -->
                            <div class="product-nav product-nav-dots">
                                <a href="#" class="active" style="background: #e5dcb1;"><span class="sr-only">Color
                                        name</span></a>
                                <a href="#" style="background: #bacbd8;"><span class="sr-only">Color name</span></a>
                            </div><!-- End .product-nav -->
                        </div><!-- End .product-body -->
                    </div><!-- End .product -->

                </div><!-- End .col-sm-6 col-md-4 col-lg-3 -->
                {{/each}}

            </div>
        </div>
    </div><!-- End .tab-content -->

    <div class="mb-3"></div><!-- End .mb-6 -->
    </div><!-- End .container -->


    {{!-- <div class="cta bg-image bg-dark pt-4 pb-5 d-flex justify-content-center" style="height:500px;">
        <div class="container">
            <div class="row ">
                <div class="col-sm-6 col-md-6 col-lg-6 ">
                    <div class="cta-heading text-center">
                        <h3 class="cta-title text-white">Sign up for email & get 25% off </h3><!-- End .cta-title -->
                        <p class="cta-desc text-white">Subcribe to get information about products and coupons</p>
                        <!-- End .cta-desc -->
                    </div><!-- End .text-center -->

                    <form action="#">
                        <div class="input-group">
                            <input type="email" class="form-control" placeholder="Enter your Email Address"
                                aria-label="Email Adress" required>
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit"><span>Subscribe</span><i
                                        class="icon-long-arrow-right"></i></button>
                            </div><!-- .End .input-group-append -->
                        </div><!-- .End .input-group -->
                    </form>

                </div><!-- End .col-sm-10 col-md-8 col-lg-6 -->
                <div style="margin-top: -40px; col-6">
                    <img src="/product-images/banner.webp" class="img-fluid" style="height: 500px;width: 550px;">
                </div>
            </div><!-- End .row -->
        </div><!-- End .container -->
    </div><!-- End .cta --> --}}

    {{!-- <div class="container-fluid pt-5">
        <div class="heading text-center">
            <h2 class="title">Follow us on instagram</h2><!-- End .title -->
            <p class="title-desc">Our Best Selling Cards Will Be Updated On Instagram.</p><!-- End .title-desc -->
        </div><!-- End .heading -->

        <div class="owl-carousel owl-simple" data-toggle="owl" data-owl-options='{
                        "nav": false, 
                        "dots": false,
                        "items": 5,
                        "margin": 20,
                        "loop": false,
                        "responsive": {
                            "0": {
                                "items":2
                            },
                            "360": {
                                "items":2
                            },
                            "600": {
                                "items":3
                            },
                            "992": {
                                "items":4
                            },
                            "1200": {
                                "items":5
                            }
                        }
                    }'>
            <div class="instagram-feed">
                <img src="/product-images/pp.png" alt="img">

                <div class="instagram-feed-content">
                    <a href="#"><i class="icon-heart-o"></i>466</a>
                    <a href="#"><i class="icon-comments"></i>65</a>
                </div><!-- End .instagram-feed-content -->
            </div><!-- End .instagram-feed -->

            <div class="instagram-feed">
                <img src="/userAssets/product-images/ps.png" alt="img">

                <div class="instagram-feed-content">
                    <a href="#"><i class="icon-heart-o"></i>39</a>
                    <a href="#"><i class="icon-comments"></i>78</a>
                </div><!-- End .instagram-feed-content -->
            </div><!-- End .instagram-feed -->

            <div class="instagram-feed">
                <img src="/product-images/pe.png" alt="img">

                <div class="instagram-feed-content">
                    <a href="#"><i class="icon-heart-o"></i>691</a>
                    <a href="#"><i class="icon-comments"></i>87</a>
                </div><!-- End .instagram-feed-content -->
            </div><!-- End .instagram-feed -->

            <div class="instagram-feed">
                <img src="/product-images/ss.png" alt="img">

                <div class="instagram-feed-content">
                    <a href="#"><i class="icon-heart-o"></i>508</a>
                    <a href="#"><i class="icon-comments"></i>124</a>
                </div><!-- End .instagram-feed-content -->
            </div><!-- End .instagram-feed -->

            <div class="instagram-feed">
                <img src="/product-images/oo.png" alt="img">

                <div class="instagram-feed-content">
                    <a href="#"><i class="icon-heart-o"></i>433</a>
                    <a href="#"><i class="icon-comments"></i>27</a>
                </div><!-- End .instagram-feed-content -->
            </div><!-- End .instagram-feed -->
        </div><!-- End .owl-carousel -->
    </div><!-- End .container-fluid --> --}}

    <div class="container-fluid mb-5">
        <img src="/pictures/bannerImages/static.jpg-1669041869238" alt="">
    </div>

    <div class=" mt-5 text-center p-5" style="background:rgb(229, 246, 250);">
        <h3>ON DEMAND PRODUCTS</h4>
            <p>Most demanded products</p>
    </div>
    <div class="container">
        <div class="tab-content">
            <div class="">
                <div class="container">
                    <div class="row">

                    </div>
                </div><!-- End .row -->
                <hr class="mt-0 mb-0">
            </div><!-- End .container -->
        </div><!-- End .bg-gray -->
        <div class="tab-pane fade show active" id="tab-new" role="tabpanel" aria-labelledby="tab-new-link">
            <div class="row justify-content-center">
                {{#each topSellingProducts}}
                <div class="col-6 col-md-4 col-lg-3">
                    <div class="product product-4">

                        <figure class="product-media">
                            {{#if this.product.offerPercentage}}
                            <span class="product-label label-circle label-sale">{{this.product.offerPercentage}}%
                                Off</span>
                            {{/if}}
                            <a href="/product/{{this.product._id}}">

                                <img src="/pictures/productImages/{{this.product.image.[0]}}" alt="Product image"
                                    class="product-image">
                                <img src="/pictures/productImages/{{this.product.image.[2]}}" alt="Product image"
                                    class="product-image-hover">
                            </a>

                            <div class="product-action-vertical">
                                <a onclick="addToWishlist('{{this.product._id}}')"
                                    class="btn-product-icon btn-wishlist btn-expandable"><span>add to
                                        wishlist </span></a>
                            </div><!-- End .product-action -->

                            <div class="product-action">
                                {{#if (stockOut this.product.stock)}}
                                <button onclick="" class="btn-product bg-danger text-light">Stock Out</button>
                                {{else}}
                                <button onclick="addToCart('{{this.product._id}}')" class="btn-product btn-cart">Add to
                                    cart</button>
                                {{/if}}
                                {{!-- <button onclick="addToCart('{{this._id}}')" class="btn-product btn-cart"
                                    id="{{this._id}} ">Add to cart</button> --}}
                            </div><!-- End .product-action -->
                        </figure><!-- End .product-media -->

                        <div class="product-body">
                            <div class="product-cat">
                                <a href="#">{{this.product.categoryDetails.category}}</a>
                            </div><!-- End .product-cat -->
                            <h3 class="product-title"><a href="product.html">{{this.product.title}}</a></h3>
                            <!-- End .product-title -->

                            <div class="product-price">
                                {{#if this.product.offerPercentage}}
                                <div class="product-price">
                                    <span class="new-price">Now <b>₹{{this.product.price}}</b></span>
                                    <span class="old-price">Was <s>₹{{this.product.oldPrice}}</s></span>
                                </div><!-- End .product-price -->
                                <p>{{this.product.offerPercentage}}% Off</p>
                                {{else}}
                                <span>₹ &nbsp;<b class="text-danger">{{this.product.price}}</b></span>
                                {{/if}}
                            </div><!-- End .product-price -->

                        </div><!-- End .product-body -->
                    </div><!-- End .product -->

                </div><!-- End .col-sm-6 col-md-4 col-lg-3 -->
                {{/each}}

            </div>
        </div>
    </div><!-- End .tab-content -->

    <h2 class="title text-center brands bg-light mt-5 p-5">Shop by Brands</h2><!-- End .title -->
    <div class="owl-carousel mt-3 mb-4 owl-simple" data-toggle="owl" data-owl-options='{
                        "nav": false, 
                        "dots": true,
                        "margin": 30,
                        "loop": false,
                        "responsive": {
                            "0": {
                                "items":2
                            },
                            "420": {
                                "items":3
                            },
                            "600": {
                                "items":4
                            },
                            "900": {
                                "items":5
                            },
                            "1024": {
                                "items":6
                            },
                            "1200": {
                                "items":6,
                                "nav": true,
                                "dots": false
                            }
                        }
                    }'>
        {{#each brands}}
        <a href="/brandProducts/{{this._id}}" class="brand ">
            <img src="/pictures/brandImages/{{this.image}}" alt="Brand Name" style="height: 100px;">
        </a>
        {{/each}}
    </div><!-- End .owl-carousel -->
    </main><!-- End .main -->

    <footer class="footer">
        <div class="footer-bottom">
            <div class="container">


                <div class="social-icons social-icons-color">
                    <a href="#" class="social-icon social-facebook" title="Facebook" target="_blank"><i
                            class="icon-facebook-f"></i></a>
                    <a href="#" class="social-icon social-twitter" title="Twitter" target="_blank"><i
                            class="icon-twitter"></i></a>
                    <a href="#" class="social-icon social-instagram" title="Instagram" target="_blank"><i
                            class="icon-instagram"></i></a>
                    <a href="#" class="social-icon social-youtube" title="Youtube" target="_blank"><i
                            class="icon-youtube"></i></a>
                    <a href="#" class="social-icon social-pinterest" title="Pinterest" target="_blank"><i
                            class="icon-pinterest"></i></a>
                </div><!-- End .soial-icons -->
            </div><!-- End .container -->
        </div><!-- End .footer-bottom -->
    </footer><!-- End .footer -->
    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

    <div class="mobile-menu-container mobile-menu-light">
        <div class="mobile-menu-wrapper">
            <span class="mobile-menu-close"><i class="icon-close"></i></span>

            <form action="#" method="get" class="mobile-search">
                <label for="mobile-search" class="sr-only">Search</label>
                <input type="search" class="form-control" name="mobile-search" id="mobile-search"
                    placeholder="Search in..." required>
                <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
            </form>

            <nav class="mobile-nav">
                <ul class="mobile-menu">
                    <li class="active">
                        <a href="/">Home</a>
                    </li>
                    {{!-- <li>
                        <a href="category.html"></a>
                    </li> --}}
                    <li>
                        <a href="/product" class="sf-with-ul">Product</a>

                    </li>
                    {{#if userDetails}}
                    <li>
                        <a href="/cart">Cart</a>

                        <a href="/profile">Profile</a>

                        <ul>
                            <li><a href="blog.html">Classic</a></li>
                            <li><a href="blog-listing.html">Listing</a></li>
                            <li>
                                <a href="#">Grid</a>
                                <ul>
                                    <li><a href="blog-grid-2cols.html">Grid 2 columns</a></li>
                                    <li><a href="blog-grid-3cols.html">Grid 3 columns</a></li>
                                    <li><a href="blog-grid-4cols.html">Grid 4 columns</a></li>
                                    <li><a href="blog-grid-sidebar.html">Grid sidebar</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Masonry</a>
                                <ul>
                                    <li><a href="blog-masonry-2cols.html">Masonry 2 columns</a></li>
                                    <li><a href="blog-masonry-3cols.html">Masonry 3 columns</a></li>
                                    <li><a href="blog-masonry-4cols.html">Masonry 4 columns</a></li>
                                    <li><a href="blog-masonry-sidebar.html">Masonry sidebar</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Mask</a>
                                <ul>
                                    <li><a href="blog-mask-grid.html">Blog mask grid</a></li>
                                    <li><a href="blog-mask-masonry.html">Blog mask masonry</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Single Post</a>
                                <ul>
                                    <li><a href="single.html">Default with sidebar</a></li>
                                    <li><a href="single-fullwidth.html">Fullwidth no sidebar</a></li>
                                    <li><a href="single-fullwidth-sidebar.html">Fullwidth with sidebar</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="/whishlist">whishlist</a>

                    </li>
                    {{/if}}
                </ul>
            </nav><!-- End .mobile-nav -->

            <div class="social-icons">
                <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
            </div><!-- End .social-icons -->
        </div><!-- End .mobile-menu-wrapper -->
    </div><!-- End .mobile-menu-container -->

    <!-- Sign in / Register Modal -->
    <div class="modal fade" id="signin-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="icon-close"></i></span>
                    </button>

                    <div class="form-box">
                        <div class="form-tab">
                            <ul class="nav nav-pills nav-fill nav-border-anim" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="signin-tab" data-toggle="tab" href="#signin"
                                        role="tab" aria-controls="signin" aria-selected="true">Sign In</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="register-tab" data-toggle="tab" href="#register" role="tab"
                                        aria-controls="register" aria-selected="false">Register</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="tab-content-5">
                                <div class="tab-pane fade show active" id="signin" role="tabpanel"
                                    aria-labelledby="signin-tab">
                                    <form action="#">
                                        <div class="form-group">
                                            <label for="singin-email">Username or email address *</label>
                                            <input type="text" class="form-control" id="singin-email"
                                                name="singin-email" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-group">
                                            <label for="singin-password">Password *</label>
                                            <input type="password" class="form-control" id="singin-password"
                                                name="singin-password" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-footer">
                                            <button type="submit" class="btn btn-outline-primary-2">
                                                <span>LOG IN</span>
                                                <i class="icon-long-arrow-right"></i>
                                            </button>

                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input"
                                                    id="signin-remember">
                                                <label class="custom-control-label" for="signin-remember">Remember
                                                    Me</label>
                                            </div><!-- End .custom-checkbox -->

                                            <a href="#" class="forgot-link">Forgot Your Password?</a>
                                        </div><!-- End .form-footer -->
                                    </form>
                                    <div class="form-choice">
                                        <p class="text-center">or sign in with</p>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login btn-g">
                                                    <i class="icon-google"></i>
                                                    Login With Google
                                                </a>
                                            </div><!-- End .col-6 -->
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login btn-f">
                                                    <i class="icon-facebook-f"></i>
                                                    Login With Facebook
                                                </a>
                                            </div><!-- End .col-6 -->
                                        </div><!-- End .row -->
                                    </div><!-- End .form-choice -->
                                </div><!-- .End .tab-pane -->
                                <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="register-tab">
                                    <form action="#">
                                        <div class="form-group">
                                            <label for="register-email">Your email address *</label>
                                            <input type="email" class="form-control" id="register-email"
                                                name="register-email" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-group">
                                            <label for="register-password">Password *</label>
                                            <input type="password" class="form-control" id="register-password"
                                                name="register-password" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-footer">
                                            <button type="submit" class="btn btn-outline-primary-2">
                                                <span>SIGN UP</span>
                                                <i class="icon-long-arrow-right"></i>
                                            </button>

                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="register-policy"
                                                    required>
                                                <label class="custom-control-label" for="register-policy">I agree to
                                                    the <a href="#">privacy policy</a> *</label>
                                            </div><!-- End .custom-checkbox -->
                                        </div><!-- End .form-footer -->
                                    </form>
                                    <div class="form-choice">
                                        <p class="text-center">or sign in with</p>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login btn-g">
                                                    <i class="icon-google"></i>
                                                    Login With Google
                                                </a>
                                            </div><!-- End .col-6 -->
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login  btn-f">
                                                    <i class="icon-facebook-f"></i>
                                                    Login With Facebook
                                                </a>
                                            </div><!-- End .col-6 -->
                                        </div><!-- End .row -->
                                    </div><!-- End .form-choice -->
                                </div><!-- .End .tab-pane -->
                            </div><!-- End .tab-content -->
                        </div><!-- End .form-tab -->
                    </div><!-- End .form-box -->
                </div><!-- End .modal-body -->
            </div><!-- End .modal-content -->
        </div><!-- End .modal-dialog -->
    </div><!-- End .modal -->

    <!-- Plugins JS File -->
    <script src="/userAssets/js/jquery.min.js"></script>
    <script src="/userAssets/js/bootstrap.bundle.min.js"></script>
    <script src="/userAssets/js/jquery.hoverIntent.min.js"></script>
    <script src="/userAssets/js/jquery.waypoints.min.js"></script>
    <script src="/userAssets/js/superfish.min.js"></script>
    <script src="/userAssets/js/owl.carousel.min.js"></script>
    <script src="/userAssets/js/bootstrap-input-spinner.js"></script>
    <script src="/userAssets/js/jquery.magnific-popup.min.js"></script>
    <!-- Main JS File -->
    <script src="/userAssets/js/main.js"></script>
    <script src="/userAssets/js/demos/demo-17.js"></script>
    <script src="/javascripts/script.js"></script>
    <script src="/javascripts/wishlist.js"></script>
</body>
<!-- molla/index-17.html  22 Nov 2019 10:00:41 GMT -->
</html>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    function cartClick() {
        location.href = "/cart"
    }
</script>