<link rel="stylesheet" href="/userAssets/css/bootstrap.min.css">
<link rel="stylesheet" href="/userAssets/css/style.css">

<body>
    <div class="page-wrapper">

        <main class="main">
            <div class="page-header text-center" style="background-image: url('/userAssets/images/page-header-bg.jpg')">
                <div class="container">
                    <h1 class="page-title">Products<span>KAIROZ</span></h1>
                </div><!-- End .container -->
            </div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav mb-2">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Shop</a></li>
                        <li class="breadcrumb-item active" aria-current="page">All Products</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-9">
                            <div class="toolbox">
                                <div class="toolbox-left">
                                    {{!-- <div class="toolbox-info">
                                        Showing <span>9 of 56</span> Products
                                    </div><!-- End .toolbox-info --> --}}
                                </div><!-- End .toolbox-left -->
                            </div><!-- End .toolbox -->

                            <div class="products mb-3">
                                <div class="row justify-content-center">
                                    {{#each products}}
                                    <div class="col-6 col-md-4 col-lg-4 col-xl-3">
                                        <div class="product product-7 text-center">
                                            <figure class="product-media">
                                                {{#if this.offerPercentage}}
                                                <span
                                                    class="product-label label-circle label-sale">{{this.offerPercentage}}%
                                                    Off</span>
                                                {{/if}}
                                                {{!-- <span class="product-label label-out">Out of Stock</span> --}}
                                                <a href="/product/{{this._id}}">

                                                    <img src="/pictures/productImages/{{this.image.[0]}}"
                                                        alt="Product image" class="product-image">
                                                    <img src="/pictures/productImages/{{this.image.[3]}}"
                                                        alt="Product image" class="product-image-hover">
                                                </a>


                                                <div class="product-action-vertical">
                                                    <a href="#"
                                                        class="btn-product-icon btn-wishlist btn-expandable"><span>add
                                                            to wishlist</span></a>
                                                </div><!-- End .product-action-vertical -->

                                                <div class="product-action">
                                                    {{#if (stockOut this.stock)}}
                                                    <button class="btn-product bg-danger">Stock Out</button>
                                                    {{else}}
                                                    <button onclick="addToCart('{{this._id}}')"
                                                        class="btn-product btn-cart" style="border: none;">Add to
                                                        cart</button>
                                                    {{/if}}
                                                </div><!-- End .product-action -->
                                            </figure><!-- End .product-media -->

                                            <div class="product-body">

                                                <div class="product-cat">
                                                    <h5>{{this.brandDetails.brand}}</h5>
                                                    <a href="#">{{this.categoryDetails.category}}</a>
                                                </div><!-- End .product-cat -->{{this.title}}</a></h3>
                                                <!-- End .product-title -->
                                                <div class="product-price">
                                                    <span class="out-price text-primary">
                                                        {{#if this.offerPercentage}}
                                                        <div class="product-price">
                                                            <span class="new-price">Now <b>₹{{this.price}}</b></span>
                                                            <span class="old-price">Was <s>₹{{this.oldPrice}}</s></span>
                                                        </div><!-- End .product-price -->
                                                        <p>{{this.offerPercentage}}% Off</p>
                                                        {{else}}
                                                        <span>₹ &nbsp;<b class="text-primary">{{this.price}}</b></span>
                                                        {{/if}}
                                                </div><!-- End .product-price -->
                                                <div class="ratings-container">
                                                    {{!-- <div class="ratings">
                                                        <div class="ratings-val" style="width: 80%;"></div>
                                                        <!-- End .ratings-val -->
                                                    </div><!-- End .ratings --> --}}
                                                    {{!-- <span class="ratings-text">( 6 Reviews )</span> --}}
                                                </div><!-- End .rating-container -->
                                            </div><!-- End .product-body -->
                                        </div><!-- End .product -->
                                    </div><!-- End .col-sm-6 col-lg-4 col-xl-3 -->
                                    {{/each}}
                                </div><!-- End .row -->
                            </div><!-- End .products -->


                            <nav aria-label="Page navigation">
                                <ul class="pagination justify-content-center">
                                    <li class="page-item disabled">
                                        <a class="page-link page-link-prev" href="#" aria-label="Previous" tabindex="-1"
                                            aria-disabled="true">
                                            <span aria-hidden="true"><i class="icon-long-arrow-left"></i></span>Prev
                                        </a>
                                    </li>
                                    <li class="page-item active" aria-current="page"><a class="page-link" href="#">1</a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item-total">of 6</li>
                                    <li class="page-item">
                                        <a class="page-link page-link-next" href="#" aria-label="Next">
                                            Next <span aria-hidden="true"><i class="icon-long-arrow-right"></i></span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div><!-- End .col-lg-9 -->
                        <aside class="col-lg-3 order-lg-first">
                            <div class="sidebar sidebar-shop">
                                <div class="widget widget-clean">
                                    <label>Filters:</label>
                                    <a href="#" class="sidebar-filter-clear">Clean All</a>
                                </div><!-- End .widget widget-clean -->

                                <div class="widget widget-collapsible">
                                    <h3 class="widget-title">
                                        <a data-toggle="collapse" href="#widget-1" role="button" aria-expanded="true"
                                            aria-controls="widget-1">
                                            Category
                                        </a>
                                    </h3><!-- End .widget-title -->

                                    <div class="collapse show" id="widget-1">
                                        <div class="widget-body">
                                            <div class="filter-items filter-items-count">
                                                {{#if data}}
                                                {{#each data.category}}
                                                <div class="filter-item">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input"
                                                            id="{{this.category}}" value="{{this.category}}">
                                                        <label class="custom-control-label"
                                                            for="{{this.category}}">{{this.category}}</label>
                                                    </div><!-- End .custom-checkbox -->
                                                    {{!-- <span class="item-count">3</span> --}}
                                                </div><!-- End .filter-item -->
                                                {{/each}}

                                                {{/if}}

                                            </div><!-- End .widget-body -->
                                        </div><!-- End .collapse -->
                                    </div><!-- End .widget -->

                                    {{!-- <div class="widget widget-collapsible">
                                        <h3 class="widget-title">
                                            <a data-toggle="collapse" href="#widget-2" role="button"
                                                aria-expanded="true" aria-controls="widget-2">
                                                Size
                                            </a>
                                        </h3><!-- End .widget-title -->

                                        <div class="collapse show" id="widget-2">
                                            <div class="widget-body">
                                                <div class="filter-items">
                                                    <div class="filter-item">
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input"
                                                                id="size-1">
                                                            <label class="custom-control-label" for="size-1">XS</label>
                                                        </div><!-- End .custom-checkbox -->
                                                    </div><!-- End .filter-item -->

                                                    <div class="filter-item">
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input"
                                                                id="size-2">
                                                            <label class="custom-control-label" for="size-2">S</label>
                                                        </div><!-- End .custom-checkbox -->
                                                    </div><!-- End .filter-item -->

                                                    <div class="filter-item">
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" checked
                                                                id="size-3">
                                                            <label class="custom-control-label" for="size-3">M</label>
                                                        </div><!-- End .custom-checkbox -->
                                                    </div><!-- End .filter-item -->

                                                    <div class="filter-item">
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" checked
                                                                id="size-4">
                                                            <label class="custom-control-label" for="size-4">L</label>
                                                        </div><!-- End .custom-checkbox -->
                                                    </div><!-- End .filter-item -->

                                                    <div class="filter-item">
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input"
                                                                id="size-5">
                                                            <label class="custom-control-label" for="size-5">XL</label>
                                                        </div><!-- End .custom-checkbox -->
                                                    </div><!-- End .filter-item -->

                                                    <div class="filter-item">
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input"
                                                                id="size-6">
                                                            <label class="custom-control-label" for="size-6">XXL</label>
                                                        </div><!-- End .custom-checkbox -->
                                                    </div><!-- End .filter-item -->
                                                </div><!-- End .filter-items -->
                                            </div><!-- End .widget-body -->
                                        </div><!-- End .collapse -->
                                    </div><!-- End .widget --> --}}

                                    {{!-- <div class="widget widget-collapsible">
                                        <h3 class="widget-title">
                                            <a data-toggle="collapse" href="#widget-3" role="button"
                                                aria-expanded="true" aria-controls="widget-3">
                                                Colour
                                            </a>
                                        </h3><!-- End .widget-title -->

                                        <div class="collapse show" id="widget-3">
                                            <div class="widget-body">
                                                <div class="filter-colors">
                                                    <a href="#" style="background: #b87145;"><span class="sr-only">Color
                                                            Name</span></a>
                                                    <a href="#" style="background: #f0c04a;"><span class="sr-only">Color
                                                            Name</span></a>
                                                    <a href="#" style="background: #333333;"><span class="sr-only">Color
                                                            Name</span></a>
                                                    <a href="#" class="selected" style="background: #cc3333;"><span
                                                            class="sr-only">Color Name</span></a>
                                                    <a href="#" style="background: #3399cc;"><span class="sr-only">Color
                                                            Name</span></a>
                                                    <a href="#" style="background: #669933;"><span class="sr-only">Color
                                                            Name</span></a>
                                                    <a href="#" style="background: #f2719c;"><span class="sr-only">Color
                                                            Name</span></a>
                                                    <a href="#" style="background: #ebebeb;"><span class="sr-only">Color
                                                            Name</span></a>
                                                </div><!-- End .filter-colors -->
                                            </div><!-- End .widget-body -->
                                        </div><!-- End .collapse -->
                                    </div><!-- End .widget --> --}}

                                    <div class="widget widget-collapsible">
                                        <h3 class="widget-title">
                                            <a data-toggle="collapse" href="#widget-4" role="button"
                                                aria-expanded="true" aria-controls="widget-4">
                                                Brand
                                            </a>
                                        </h3><!-- End .widget-title -->

                                        <div class="collapse show" id="widget-4">
                                            <div class="widget-body">
                                                <div class="filter-items">
                                                    <div class="filter-item">
                                                        {{#each data.brand}}
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input"
                                                                id="{{this.brand}}">
                                                            <label class="custom-control-label"
                                                                for="{{this.brand}}">{{this.brand}}</label>
                                                        </div><!-- End .custom-checkbox -->

                                                        {{/each}}
                                                    </div><!-- End .filter-item -->

                                                </div><!-- End .filter-items -->
                                            </div><!-- End .widget-body -->
                                        </div><!-- End .collapse -->
                                    </div><!-- End .widget -->


                                </div><!-- End .sidebar sidebar-shop -->
                        </aside><!-- End .col-lg-3 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->
    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <!-- Mobile Menu -->
<div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

    <div class="mobile-menu-container mobile-menu-light">
        <div class="mobile-menu-wrapper">
            <span class="mobile-menu-close"><i class="icon-close"></i></span>

            <form action="#" method="get" class="mobile-search">
                <label for="mobile-search" class="sr-only">Search</label>
                <input type="search" class="form-control" name="mobile-search" id="mobile-search"
                    placeholder="Search in..." required>
                <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
            </form>

            <nav class="mobile-nav">
                <ul class="mobile-menu">
                    <li class="active">
                        <a href="/">Home</a>
                    </li>
                    {{!-- <li>
                        <a href="category.html"></a>
                    </li> --}}
                    <li>
                        <a href="/product" class="sf-with-ul">Product</a>

                    </li>
                    {{#if userDetails}}
                    <li>
                        <a href="/cart">Cart</a>

                        <a href="/profile">Profile</a>

                        <ul>
                            <li><a href="blog.html">Classic</a></li>
                            <li><a href="blog-listing.html">Listing</a></li>
                            <li>
                                <a href="#">Grid</a>
                                <ul>
                                    <li><a href="blog-grid-2cols.html">Grid 2 columns</a></li>
                                    <li><a href="blog-grid-3cols.html">Grid 3 columns</a></li>
                                    <li><a href="blog-grid-4cols.html">Grid 4 columns</a></li>
                                    <li><a href="blog-grid-sidebar.html">Grid sidebar</a></li>
                                </ul>
                            </li>
                            {{!-- <li>
                                <a href="#">Masonry</a>
                                <ul>
                                    <li><a href="blog-masonry-2cols.html">Masonry 2 columns</a></li>
                                    <li><a href="blog-masonry-3cols.html">Masonry 3 columns</a></li>
                                    <li><a href="blog-masonry-4cols.html">Masonry 4 columns</a></li>
                                    <li><a href="blog-masonry-sidebar.html">Masonry sidebar</a></li>
                                </ul>
                            </li> --}}
                            {{!-- <li>
                                <a href="#">Mask</a>
                                <ul>
                                    <li><a href="blog-mask-grid.html">Blog mask grid</a></li>
                                    <li><a href="blog-mask-masonry.html">Blog mask masonry</a></li>
                                </ul>
                            </li> --}}
                            {{!-- <li>
                                <a href="#">Single Post</a>
                                <ul>
                                    <li><a href="single.html">Default with sidebar</a></li>
                                    <li><a href="single-fullwidth.html">Fullwidth no sidebar</a></li>
                                    <li><a href="single-fullwidth-sidebar.html">Fullwidth with sidebar</a></li>
                                </ul>
                            </li> --}}
                        </ul>
                    </li>

                    <li>
                        <a href="/wishlist">whishlist</a>

                    </li>
                    {{/if}}
                </ul>
            </nav><!-- End .mobile-nav -->

            <div class="social-icons">
                <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
            </div><!-- End .social-icons -->
        </div><!-- End .mobile-menu-wrapper -->
    </div><!-- End .mobile-menu-container -->

    <!-- Sign in / Register Modal -->
    <div class="modal fade" id="signin-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="icon-close"></i></span>
                    </button>

                    <div class="form-box">
                        <div class="form-tab">
                            <ul class="nav nav-pills nav-fill" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="signin-tab" data-toggle="tab" href="#signin"
                                        role="tab" aria-controls="signin" aria-selected="true">Sign In</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="register-tab" data-toggle="tab" href="#register" role="tab"
                                        aria-controls="register" aria-selected="false">Register</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="tab-content-5">
                                <div class="tab-pane fade show active" id="signin" role="tabpanel"
                                    aria-labelledby="signin-tab">
                                    <form action="#">
                                        <div class="form-group">
                                            <label for="singin-email">Username or email address *</label>
                                            <input type="text" class="form-control" id="singin-email"
                                                name="singin-email" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-group">
                                            <label for="singin-password">Password *</label>
                                            <input type="password" class="form-control" id="singin-password"
                                                name="singin-password" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-footer">
                                            <button type="submit" class="btn btn-outline-primary-2">
                                                <span>LOG IN</span>
                                                <i class="icon-long-arrow-right"></i>
                                            </button>

                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input"
                                                    id="signin-remember">
                                                <label class="custom-control-label" for="signin-remember">Remember
                                                    Me</label>
                                            </div><!-- End .custom-checkbox -->

                                            <a href="#" class="forgot-link">Forgot Your Password?</a>
                                        </div><!-- End .form-footer -->
                                    </form>
                                    <div class="form-choice">
                                        <p class="text-center">or sign in with</p>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login btn-g">
                                                    <i class="icon-google"></i>
                                                    Login With Google
                                                </a>
                                            </div><!-- End .col-6 -->
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login btn-f">
                                                    <i class="icon-facebook-f"></i>
                                                    Login With Facebook
                                                </a>
                                            </div><!-- End .col-6 -->
                                        </div><!-- End .row -->
                                    </div><!-- End .form-choice -->
                                </div><!-- .End .tab-pane -->
                                <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="register-tab">
                                    <form action="#">
                                        <div class="form-group">
                                            <label for="register-email">Your email address *</label>
                                            <input type="email" class="form-control" id="register-email"
                                                name="register-email" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-group">
                                            <label for="register-password">Password *</label>
                                            <input type="password" class="form-control" id="register-password"
                                                name="register-password" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-footer">
                                            <button type="submit" class="btn btn-outline-primary-2">
                                                <span>SIGN UP</span>
                                                <i class="icon-long-arrow-right"></i>
                                            </button>

                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="register-policy"
                                                    required>
                                                <label class="custom-control-label" for="register-policy">I agree to the
                                                    <a href="#">privacy policy</a> *</label>
                                            </div><!-- End .custom-checkbox -->
                                        </div><!-- End .form-footer -->
                                    </form>
                                    <div class="form-choice">
                                        <p class="text-center">or sign in with</p>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login btn-g">
                                                    <i class="icon-google"></i>
                                                    Login With Google
                                                </a>
                                            </div><!-- End .col-6 -->
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login  btn-f">
                                                    <i class="icon-facebook-f"></i>
                                                    Login With Facebook
                                                </a>
                                            </div><!-- End .col-6 -->
                                        </div><!-- End .row -->
                                    </div><!-- End .form-choice -->
                                </div><!-- .End .tab-pane -->
                            </div><!-- End .tab-content -->
                        </div><!-- End .form-tab -->
                    </div><!-- End .form-box -->
                </div><!-- End .modal-body -->
            </div><!-- End .modal-content -->
        </div><!-- End .modal-dialog -->
    </div><!-- End .modal -->

    <!-- Plugins JS File -->

    <!-- Main JS File -->
    <script src="/userAssets/js/jquery.min.js"></script>
    <script src="/userAssets/js/bootstrap.bundle.min.js"></script>
    <script src="/userAssets/js/jquery.hoverIntent.min.js"></script>
    <script src="/userAssets/js/jquery.waypoints.min.js"></script>
    <script src="/userAssets/js/superfish.min.js"></script>
    <script src="/userAssets/js/owl.carousel.min.js"></script>
    <script src="/userAssets/js/bootstrap-input-spinner.js"></script>
    <script src="/userAssets/js/jquery.elevateZoom.min.js"></script>
    <script src="/userAssets/js/bootstrap-input-spinner.js"></script>
    <script src="/userAssets/js/jquery.magnific-popup.min.js"></script>
    <!-- Main JS File -->
    <script src="/userAssets/js/main.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="/javascripts/script.js"></script>
    <script src="/javascripts/wishlist.js"></script>
</body>
<!-- molla/category-4cols.html  22 Nov 2019 10:02:55 GMT -->

</html>