<link rel="stylesheet" href="/userAssets/css/bootstrap.min.css">
<!-- Main CSS File -->
<!-- CSS only -->
<link rel="stylesheet" href="/userAssets/css/style.css">

<body>
    <div class="page-header text-center" style="background-image: url('/userAssets/images/page-header-bg.jpg')">
        <div class="container">
            <h1 class="page-title"> Ordered Products<span>Kairos</span></h1>
        </div><!-- End .container -->
    </div>
    <div class="container">
        <div class="row">
            {{#each products}}
            <div class="col-lg-4 bg-light">
                <div class="card card-dashboard shadow-lg p-3 mb-5  rounded" style="height: 90%;">
                    <div class="card-body">
                        <h6>{{this._id}}</h6>
                        <div class="col-md-12 mt-4">
                            <img src="/productImages/{{product._id}}.jpg" alt="">
                        </div>
                        <div class="text-center mt-2">
                            <h5>{{this.product.title}}</h5>
                            <p><span class="text-danger">proId:</span> {{this.product._id}}</p><br>
                            <p class="" style="font-size: 20px; color: cadetblue;">₹ {{this.product.price}}</p>
                            <p>{{this.product.discription}}</p>
                            <p>{{this.product.gender}}</p>
                            <p>Qty : <span style="color: darkblue;">{{this.quantity}}</span></p>
                            <div class="">
                                <p>TrackOrder </p>
                                <h5>{{this.trackOrder}}</h5>
                            </div>
                        </div>

                    </div><!-- End .card-dashboard -->
                    <div class="d-flex">
                        <button type="submit" class="btn btn-Primary"
                            onclick="returnRequest('{{this.product._id}}','{{this._id}}')">Request Return</button>
                        {{#if (cancel this.trackOrder)}}

                        {{else if (delivered this.trackOrder)}}

                        {{else if (returnRequest this.trackOrder)}}
                        {{else}}
                        <button type="submit" class="btn btn-danger"
                            onclick="cancelProduct('{{this.product._id}}','{{this._id}}')">Cancel</button>
                        {{/if}}
                    </div>
                </div><!-- End .card-body -->

            </div><!-- End .col-lg-6 -->
            {{/each}}

        </div>
    </div>


    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <!-- JavaScript Bundle with Popper -->
    <script>
        function cancelProduct(prodId, orderId) {
            $.ajax({
                url: '/cancelOrderProduct',
                method: 'put',
                data: {
                    prodId: prodId,
                    orderId: orderId
                },
                success: (response) => {
                    if (response.refund) {
                        amount = response.amount
                        swal("Amount Refunded!", "An Amount of RS " + amount + "  is refunded", "success").then(() => {
                            location.reload();
                        })
                    }
                    else if (response.COD) {
                        amount = response.amount
                        swal("order Cancelled!", "Your Order Is cancelled", "success").then(() => {
                            location.reload();
                        })
                    }
                }
            })
        }
    </script>




    <script>
        function returnRequest(prodId, orderId) {

            swal("Reason for Returning:", {
                content: "input",
            }).then((value) => {
                swal("Return Requested!", "Your request form is submitted!", "success")
                .then(()=>{
                     $.ajax({
                        url: '/returnOrderProduct',
                        method: 'put',
                        data: {
                            prodId: prodId,
                            orderId: orderId,
                            message: value
                        },
                        success: (response) => {
                            if (response.refund) {
                                amount = response.amount
                                swal("Amount Refunded!", "An Amount of RS " + amount + "  is refunded", "success").then(() => {
                                    location.reload();
                                })
                            }
                            else if (response.COD) {
                                amount = response.amount
                                swal("order Cancelled!", "Your Order Is cancelled", "success").then(() => {
                                    location.reload();
                                })
                            }
                        }
                    })
                }) 
                });

        }
    </script>
</body>